################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/OOStepByStep/bin
/OOStepByStep/obj
/OOStepByStepTest/bin
/OOStepByStepTest/obj
